<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style-nav.css">
    {{>bootstrap}}
</head>
<body style="background-color: #34495E ; ">
    {{>navbar}}
   
    <section style="background-color: #1C2833;" class="text-gray-600 body-font" >
  <div  class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="p-4 md:w-1/3">
        <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://source.unsplash.com/720x400/?climate change causes,climate change" alt="blog">
          <div style="background-color:#34495E; color:white" class="p-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1"></h2>
            <h1 style="color: white;"  class="title-font text-lg font-medium text-gray-900 mb-3">THE SCIENCE IS CLEAR</h1>
            <p class="leading-relaxed mb-3">Climate scientists agree that humanity is responsible for the vast majority of global warming</p>
            <div class="flex items-center flex-wrap ">
              <a href="https://www.wwf.org.nz/what_we_do/climateaction/causes_of_climate_change/" class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">Learn More
                
                
              </a>
              <span class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                
              </span>
              <span class="text-gray-400 inline-flex items-center leading-none text-sm">
                
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://source.unsplash.com/720x400/?sun,ultraviolet rays" alt="blog">
          <div  style="background-color:#34495E; color:white"  class="p-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1"></h2>
            <h1 style="color: white;" class="title-font text-lg font-medium text-gray-900 mb-3">Is the Sun to Blame?</h1>
            <p class="leading-relaxed mb-3">How do we know that changes in the Sun aren’t to blame for current global warming trends?</p>
            <div class="flex items-center flex-wrap">
              <a href="https://climate.nasa.gov/causes/" class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">Learn More
                
              </a>
              <span class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
               
              </span>
              <span class="text-gray-400 inline-flex items-center leading-none text-sm">
                
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="p-4 md:w-1/3">
        <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://source.unsplash.com/720x400/?tectonic ,volcanos" alt="blog">
          <div  style="background-color:#34495E; color:white"  class="p-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1"></h2>
            <h1 style="color: white;" class="title-font text-lg font-medium text-gray-900 mb-3">Plate Tectonics and Volcanic Eruptions</h1>
            <p class="leading-relaxed mb-3">Volcanoes affect the climate through the gases and particles (tephra/ash) thrown into the atmosphere during eruptions.</p>
            <div class="flex items-center flex-wrap ">
              <a href="https://www.bgs.ac.uk/discovering-geology/climate-change/what-causes-the-earths-climate-to-change/" class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">Learn More
                
              </a>
              <span class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                
              </span>
              <span class="text-gray-400 inline-flex items-center leading-none text-sm">
                
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


</body>
</html>