<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style-nav.css">
    {{>bootstrap}}
    
</head>
<body style="background-color: #212F3C ;">
    {{>navbar}}
    <section id="abc" class="text-gray-600 body-font">
  <div id="jkl" class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div id="fgh" class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900" style="color: white;">Climate Change <br>
        <br  class="hidden lg:inline-block" style="color: aliceblue;">What is more important than <span>Good</span> and <span>Clean</span> air?”
      </h1>
      <p class="mb-8 leading-relaxed" style="color: azure;">"We simply must do everything we can in our power to slow down global warming before it is too late... The science is clear. The global warming debate is over." "Each of the last three decades has been successively warmer at the Earth's surface than any preceding decade since 1850."</p>
      <div class="flex justify-center">
       <a href="/weather"> <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Check Weather</button></a>
        
      </div>
    </div>
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img class="object-cover object-center rounded" alt="hero" src="https://source.unsplash.com/720x600/?weather,climate change">
    </div>
  </div>
</section>

</body>
</html>